<%- include('../partials/head') %> 
<body>
    <div class="d-flex flex-row kingContainer">
        <div class="kingSideBar_general d-flex flex-column">
            <%- include('../partials/kingSideBarPartials/kingSideBarTop') %> 
            <div class="d-flex flex-column kingSideBarScroll">
                <div class="d-flex flex-column kingSideBarConversations__container">
                    <h2 class="kingSideBarTitle">Conversations</h2>
                    <% if(currentUser) { %> 
                        <% for(conversation of currentUser.conversations) { %> 
                        <div class="d-flex flex-row">
                            <a class="d-flex flex-row" href="/conversation/<%= conversation._id %>">
                                <img src="https://images.unsplash.com/photo-1603415526960-f7e0328c63b1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="img">
                                <% if(currentUser.username === conversation.user1.user.username) { %> 
                                <p><%= conversation.user2.user.first %> <%= conversation.user2.user.last %> </p>
                                <% } %> 
                                <% if(currentUser.username === conversation.user2.user.username) { %> 
                                <p><%= conversation.user1.user.first %> <%= conversation.user1.user.last %> </p>
                                <% } %> 
                            </a>
                        </div>
                        <% } %>
                    <% } %>  
                    <%- include('../partials/kingSideBarPartials/kingSideBarGroupchats') %>  
                </div>
            </div>
        </div>
        <div class="d-flex flex-column kingMainOverride">
            <%- include('../partials/nav') %>
            <div class="d-flex flex-column kingMainOverride__inputContainer">
                    <div class="d-flex flex-row kingMainOverride__inputContainer__title justify-content-center">
                        <% if(currentUser.username === conversation.user1.user.username) { %> 
                            <img class="convoTitleImg me-2" src="https://images.unsplash.com/photo-1588358400440-12ca21f5f180?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWVvd3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="titleImg">
                            <%= conversation.user2.user.first %> <%= conversation.user2.user.last %>
                        <% } %> 
                        <% if(currentUser.username === conversation.user2.user.username) { %> 
                            <img class="convoTitleImg me-2" src="https://images.unsplash.com/photo-1588358400440-12ca21f5f180?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWVvd3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="titleImg">
                            <%= conversation.user1.user.first %> <%= conversation.user1.user.last %>
                        <% } %> 
                        <form class="d-flex leaveGroupchatForm" action="/leaveConversation/<%= conversation._id %>?_method=PUT" method="POST">
                            <button class="leaveGroupchatButton"><i class="far fa-times-circle"></i></button>
                        </form>
                    </div>
                    <div class="d-flex kingMainOverride__messageContainer">
                        <% for(message of conversation.messages) { %> 
                            <div class=" messageContainer
                            <% if(currentUser.username === conversation.user1.user.username) { %> 
                                <% if(conversation.user1.messages.includes(`${message}`)) { %> 
                                sentMessageContainer 
                                <% } else if(conversation.user2.messages.includes(`${message}`)) { %>
                                recievedMessageContainer
                                <% } %> 
                                text-break">
                            <% } else if(currentUser.username === conversation.user2.user.username) { %> 
                                <% if(conversation.user2.messages.includes(`${message}`)) { %> 
                                sentMessageContainer 
                                <% } else if(conversation.user1.messages.includes(`${message}`)) { %>
                                recievedMessageContainer
                                <% } %> 
                                text-break">
                            <% } %> 
                                <img src="https://images.unsplash.com/photo-1603415526960-f7e0328c63b1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                                <%= message.message %> 
                            </div>
                        <% } %> 
                    </div>
                    <div class="d-flex flex-row kingMainOverride__inputContainer__messageInputContainer">
                        <form id="messageInputForm" name="messageInputForm" class="d-flex flex-row kingMainOverride__inputContainer__messageInputContainer__form" action="/sendMessage/<%= conversation._id %>" method="POST">
                            <textarea id="messageInputTextArea" class="px-2" placeholder="hey.." maxlength="1000" name="message" id="message"></textarea>
                            <button id="messageSendButton">Send</button>
                        </form>
                    </div>
                    <script>
                        let messageInput, messageInputForm, messageSendButton;
                        messageInput = document.querySelector('#messageInputTextArea')
                        messageSendButton = document.querySelector('#messageSendButton')
                        messageInput.addEventListener('keypress', (event) => {
                            if(event.which === 13 && !event.shiftKey) {
                                document.messageInputForm.submit()
                                event.preventDefault();
                            }
                        })
                    </script>
            </div>
        </div>
    </div>
</body>
</html>